.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: TisaSansPro-LightItalic;
  margin: 59px auto 0 530px;
}

.u-section-1 .u-text-2 {
  font-family: TisaSansPro-Black;
  font-size: 3rem;
  background-image: none;
  font-weight: normal;
  margin: 34px 209px 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0 538px;
}

.u-section-1 .u-shape-1 {
  height: 302px;
  width: 1129px;
  margin: 88px 0 0 auto;
}

.u-section-1 .u-table-1 {
  width: 940px;
  margin: -380px auto 0;
}

.u-block-df7c-46 {
  height: 46px;
}

.u-block-df7c-47 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-block-df7c-48 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-block-df7c-49 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-body-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
}

.u-block-df7c-61 {
  height: 46px;
}

.u-block-df7c-62 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-block-df7c-63 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-block-df7c-64 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-image-1 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -427px auto 0 159px;
}

.u-section-1 .u-image-2 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -180px auto 0 478px;
}

.u-section-1 .u-image-3 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -180px auto 0 797px;
}

.u-section-1 .u-image-4 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: 43px auto 0 797px;
}

.u-section-1 .u-image-5 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -180px auto 0 478px;
}

.u-section-1 .u-image-6 {
  width: 184px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -180px auto 44px 159px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 437px;
  }

  .u-section-1 .u-text-2 {
    width: 722px;
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 444px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 378px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 597px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 597px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 335px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 268px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-left: 268px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 268px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-left: 268px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -407px;
    margin-left: 171px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: 171px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
    margin-left: 171px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 16px;
    margin-left: 175px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 35px;
    margin-left: 175px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 39px;
    margin-left: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1521px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -430px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 74px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 17px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 34px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 82px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin-top: 51px;
  margin-bottom: 0;
  grid-template-rows: auto auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 583px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 27px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-1 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 28px 27px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-2 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-2 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 28px 27px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-3 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-3 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 28px 27px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-4 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-4 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 28px 27px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-5 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-5 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 28px 27px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-family: TisaSansPro-Medium;
  line-height: 1.2;
  margin: 2px auto 0 3px;
}

.u-section-2 .u-line-6 {
  height: 4px;
  transform-origin: left center 0px;
  width: 68px;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-image-6 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  margin: 20px 59px 0 3px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px 3px 0;
}

.u-section-2 .u-text-13 {
  width: 454px;
  margin: 132px auto 0;
}

.u-section-2 .u-btn-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  background-image: none;
  border-style: none;
  margin: 20px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-line-1 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    width: 157px;
    height: 42px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-line-2 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    width: 157px;
    height: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-line-3 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
    width: 157px;
    height: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-2 .u-line-4 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
    width: 157px;
    height: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-2 .u-line-5 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
    width: 157px;
    height: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-2 .u-line-6 {
    transform: rotate(360deg);
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
    width: 157px;
    height: 42px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    width: 340px;
  }
}@font-face {
  font-family: 'TisaSansPro-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-LightItalic.woff);
}@font-face {
  font-family: 'TisaSansPro-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Black.ttf);
}@font-face {
  font-family: 'TisaSansPro-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Medium.woff2);
}@font-face {
  font-family: 'TisaSansPro-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Bold.ttf);
}@font-face {
  font-family: 'TisaSansPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Regular.ttf);
}@font-face {
  font-family: 'TisaSansPro-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Light.ttf);
}