.u-section-1 .u-sheet-1 {
  min-height: 5800px;
}

.u-section-1 .u-text-1 {
  font-family: TisaSansPro-Bold;
  background-image: none;
  font-size: 3.75rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: TisaSansPro-Bold;
  background-image: none;
  margin: -66px auto 0;
}

.u-section-1 .u-image-1 {
  width: 175px;
  height: 175px;
  background-image: url("images/16273590321.jpg");
  background-position: 50% 50%;
  margin: 83px auto 0 69px;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 175px;
  background-image: url("images/16214715901.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0;
}

.u-section-1 .u-image-3 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202894751.jpg");
  background-position: 50% 50%;
  margin: -175px 58px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 11px 822px 0 11px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  width: 307px;
  margin: -42px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: -30px 0 0 833px;
}

.u-section-1 .u-image-4 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0 69px;
}

.u-section-1 .u-image-5 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-6 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px 58px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 11px 822px 0 11px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: -63px 416px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: -30px 0 0 833px;
}

.u-section-1 .u-image-7 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202896551.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0 69px;
}

.u-section-1 .u-image-8 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0;
}

.u-section-1 .u-image-9 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202893431.jpg");
  background-position: 50% 50%;
  margin: -175px 66px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-10 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202895851.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0 69px;
}

.u-section-1 .u-image-11 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202889861.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-12 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px 66px 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 32px 833px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-13 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: 45px auto 0 69px;
}

.u-section-1 .u-image-14 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-15 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202888671.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  margin: 32px 833px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: -63px 0 0 833px;
}

.u-section-1 .u-image-16 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202895301.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0 69px;
}

.u-section-1 .u-image-17 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202891451.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-18 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 32px 833px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-19 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0 69px;
}

.u-section-1 .u-image-20 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-21 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202894291.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-22 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: 59px auto 0 69px;
}

.u-section-1 .u-image-23 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202883681.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-24 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-25 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202897151.jpg");
  background-position: 50% 50%;
  margin: 56px auto 0 69px;
}

.u-section-1 .u-image-26 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202888161.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-27 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-27 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  margin: -63px 416px 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-28 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: 65px auto 0 69px;
}

.u-section-1 .u-image-29 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-30 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-30 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-31 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-31 {
  width: 175px;
  height: 175px;
  background-image: url("images/16213098671.jpg");
  background-position: 50% 50%;
  margin: 65px auto 0 69px;
}

.u-section-1 .u-image-32 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202873041.png");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-33 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-33 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-34 {
  font-size: 1.125rem;
  margin: -63px 416px 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.125rem;
  margin: -84px 0 0 833px;
}

.u-section-1 .u-image-34 {
  width: 175px;
  height: 175px;
  background-image: url("images/162028858911.jpg");
  background-position: 50% 50%;
  margin: 90px auto 0 69px;
}

.u-section-1 .u-image-35 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202880351.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-36 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-36 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-37 {
  font-size: 1.125rem;
  margin: -63px 416px 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-37 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: 62px auto 0 69px;
}

.u-section-1 .u-image-38 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-39 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-39 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-40 {
  font-size: 1.125rem;
  margin: -63px 416px 0;
}

.u-section-1 .u-text-41 {
  font-size: 1.125rem;
  margin: -105px 0 0 833px;
}

.u-section-1 .u-image-40 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: 140px auto 0 69px;
}

.u-section-1 .u-image-41 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202861441.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 483px;
}

.u-section-1 .u-image-42 {
  width: 175px;
  height: 175px;
  background-image: url("images/16214714841.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 899px;
}

.u-section-1 .u-text-42 {
  font-size: 1.125rem;
  margin: 32px 822px 0 11px;
}

.u-section-1 .u-text-43 {
  font-size: 1.125rem;
  margin: -42px 416px 0;
}

.u-section-1 .u-text-44 {
  font-size: 1.125rem;
  margin: -42px 0 0 833px;
}

.u-section-1 .u-image-43 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202884341.jpg");
  background-position: 50% 50%;
  margin: 102px auto 0 64px;
}

.u-section-1 .u-image-44 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202876371.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 477px;
}

.u-section-1 .u-image-45 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202858311.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 894px;
}

.u-section-1 .u-text-45 {
  font-size: 1.125rem;
  margin: 32px 827px 0 5px;
}

.u-section-1 .u-text-46 {
  font-size: 1.125rem;
  margin: -63px 422px 0 411px;
}

.u-section-1 .u-text-47 {
  font-size: 1.125rem;
  margin: -42px 5px 0 827px;
}

.u-section-1 .u-image-46 {
  width: 175px;
  height: 175px;
  background-image: url("images/16202892501.jpg");
  background-position: 50% 50%;
  margin: 49px auto 0 64px;
}

.u-section-1 .u-image-47 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 477px;
}

.u-section-1 .u-image-48 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 894px;
}

.u-section-1 .u-text-48 {
  font-size: 1.125rem;
  margin: 32px 827px 0 5px;
}

.u-section-1 .u-text-49 {
  font-size: 1.125rem;
  margin: -42px 422px 0 411px;
}

.u-section-1 .u-text-50 {
  font-size: 1.125rem;
  margin: -63px 5px 0 827px;
}

.u-section-1 .u-image-49 {
  width: 175px;
  height: 175px;
  background-image: url("images/92979836-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on1.jpg");
  background-position: 50% 50%;
  margin: 77px auto 0 274px;
}

.u-section-1 .u-image-50 {
  width: 175px;
  height: 175px;
  background-image: url("images/depositphotos_120209234-stock-illustration-profile-picture-anonymous-vector1.jpg");
  background-position: 50% 50%;
  margin: -175px auto 0 691px;
}

.u-section-1 .u-text-51 {
  font-size: 1.125rem;
  margin: 32px 625px 0 208px;
}

.u-section-1 .u-text-52 {
  font-size: 1.125rem;
  margin: -42px 208px 0 625px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5911px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 98px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 307px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -42px;
    margin-left: 633px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 45px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 476px;
    margin-right: 66px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -628px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: 308px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -42px;
    margin-left: 633px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 64px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 42px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 307px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 67px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-11 {
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: 1197px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -1316px;
    margin-right: 633px;
  }

  .u-section-1 .u-text-13 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -924px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-image-14 {
    margin-top: 1523px;
    margin-left: auto;
  }

  .u-section-1 .u-image-15 {
    margin-top: -847px;
    margin-right: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 55px;
    margin-right: 633px;
  }

  .u-section-1 .u-text-16 {
    width: 307px;
    margin-top: -52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-16 {
    margin-top: 73px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-17 {
    margin-left: auto;
  }

  .u-section-1 .u-image-18 {
    margin-top: 1106px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -1236px;
    margin-right: 633px;
  }

  .u-section-1 .u-text-19 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-19 {
    margin-top: -618px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-20 {
    margin-top: 1462px;
    margin-left: 69px;
  }

  .u-section-1 .u-image-21 {
    margin-top: -1140px;
    margin-right: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 42px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    width: 308px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-22 {
    margin-top: -931px;
    margin-left: auto;
  }

  .u-section-1 .u-image-23 {
    margin-top: 822px;
    margin-left: auto;
  }

  .u-section-1 .u-image-24 {
    margin-top: 152px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: -273px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 64px;
  }

  .u-section-1 .u-image-26 {
    margin-left: auto;
  }

  .u-section-1 .u-image-27 {
    margin-top: 464px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -608px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-28 {
    margin-top: -900px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-29 {
    margin-top: 790px;
    margin-left: auto;
  }

  .u-section-1 .u-image-30 {
    margin-top: 498px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: -619px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-31 {
    margin-top: 55px;
  }

  .u-section-1 .u-image-32 {
    margin-left: auto;
  }

  .u-section-1 .u-image-33 {
    margin-top: 1812px;
    margin-right: 197px;
    margin-left: auto;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: -1956px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    width: 307px;
    margin-top: -74px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-34 {
    margin-top: 88px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-35 {
    margin-left: auto;
  }

  .u-section-1 .u-image-36 {
    margin-top: 1150px;
    margin-left: auto;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: -1293px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-37 {
    margin-top: -1582px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-image-38 {
    margin-top: 1471px;
    margin-left: auto;
  }

  .u-section-1 .u-image-39 {
    margin-top: 1132px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-top: -1276px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-40 {
    margin-top: -2535px;
    margin-right: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-image-41 {
    margin-top: 2477px;
    margin-left: auto;
  }

  .u-section-1 .u-image-42 {
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 31px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-left: 633px;
  }

  .u-section-1 .u-image-43 {
    margin-top: 61px;
  }

  .u-section-1 .u-image-44 {
    margin-left: auto;
  }

  .u-section-1 .u-image-45 {
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-text-45 {
    width: auto;
    margin-top: 38px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    width: 312px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-right: 0;
    margin-left: 633px;
  }

  .u-section-1 .u-image-46 {
    margin-top: 62px;
  }

  .u-section-1 .u-image-47 {
    margin-top: -1166px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-image-48 {
    margin-left: 64px;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-top: 1035px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-right: 307px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-right: 0;
    margin-left: 633px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -887px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-50 {
    margin-top: 451px;
    margin-right: 64px;
    margin-left: auto;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-top: 354px;
    margin-right: 472px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-right: 131px;
    margin-bottom: 60px;
    margin-left: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: 191px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 192px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 413px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 413px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 475px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 476px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 413px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 768px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 768px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 197px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 1048px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 1049px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 1362px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 1363px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 1655px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 1656px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-20 {
    margin-top: 2004px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 2005px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-23 {
    margin-top: 2336px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 2337px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-26 {
    margin-top: 2650px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 2651px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-29 {
    margin-top: 2934px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 2935px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-32 {
    margin-top: 3294px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 3295px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-35 {
    margin-top: 3626px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 3627px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-38 {
    margin-top: 3920px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 3921px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 4241px;
  }

  .u-section-1 .u-text-42 {
    margin-top: 4242px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 413px;
  }

  .u-section-1 .u-image-44 {
    margin-top: 4539px;
  }

  .u-section-1 .u-text-45 {
    margin-top: 4540px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-47 {
    margin-top: 4539px;
  }

  .u-section-1 .u-text-48 {
    margin-top: 4866px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 197px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 413px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -18549px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 9007px;
    margin-right: 362px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 21px;
    margin-left: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: -145px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 149px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 842px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -477px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 249px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 233px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1074px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1126px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 397px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -193px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 533px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 233px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -2482px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1419px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 689px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 99px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 825px;
    margin-right: 107px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -3937px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 1699px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 970px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 380px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 1106px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -5353px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 2013px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1284px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 694px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 1420px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -6931px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 2306px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 1577px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 987px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 1713px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-19 {
    margin-top: -8374px;
  }

  .u-section-1 .u-image-20 {
    margin-top: 2655px;
  }

  .u-section-1 .u-image-21 {
    margin-top: 1926px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 1336px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 2062px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-22 {
    margin-top: -10064px;
  }

  .u-section-1 .u-image-23 {
    margin-top: 2987px;
  }

  .u-section-1 .u-image-24 {
    margin-top: 2258px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 1668px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 2394px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-25 {
    margin-top: -11741px;
  }

  .u-section-1 .u-image-26 {
    margin-top: 3301px;
  }

  .u-section-1 .u-image-27 {
    margin-top: 2572px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 1982px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 2708px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-28 {
    margin-top: -13350px;
  }

  .u-section-1 .u-image-29 {
    margin-top: 3585px;
  }

  .u-section-1 .u-image-30 {
    margin-top: 2856px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 2266px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 2992px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-31 {
    margin-top: -14779px;
  }

  .u-section-1 .u-image-32 {
    margin-top: 3945px;
  }

  .u-section-1 .u-image-33 {
    margin-top: 3216px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 2626px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 3352px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-34 {
    margin-top: -16587px;
  }

  .u-section-1 .u-image-35 {
    margin-top: 4277px;
  }

  .u-section-1 .u-image-36 {
    margin-top: 3548px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 2958px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-37 {
    margin-top: 3684px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-37 {
    margin-top: -18232px;
  }

  .u-section-1 .u-image-38 {
    margin-top: 4571px;
  }

  .u-section-1 .u-image-39 {
    margin-top: 3842px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 3252px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-40 {
    margin-top: 3978px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-40 {
    margin-top: -19740px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 4892px;
  }

  .u-section-1 .u-image-42 {
    margin-top: 4163px;
  }

  .u-section-1 .u-text-42 {
    margin-top: 3573px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-43 {
    margin-top: 4299px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 233px;
  }

  .u-section-1 .u-image-43 {
    margin-top: -21277px;
  }

  .u-section-1 .u-image-44 {
    margin-top: 5190px;
  }

  .u-section-1 .u-image-45 {
    margin-top: 4461px;
  }

  .u-section-1 .u-text-45 {
    margin-top: 3871px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-46 {
    margin-top: 4597px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-46 {
    margin-top: -22811px;
  }

  .u-section-1 .u-image-47 {
    margin-top: 5190px;
  }

  .u-section-1 .u-image-48 {
    margin-top: 4787px;
  }

  .u-section-1 .u-text-48 {
    margin-top: 4197px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-49 {
    margin-top: 4597px;
    margin-right: 107px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 233px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -18189px;
  }

  .u-section-1 .u-image-50 {
    margin-top: 4787px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 8629px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
    margin-left: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 29074px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -39px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 850px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1264px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1036px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 33px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -2653px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1590px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 7px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 143px;
  }

  .u-section-1 .u-image-33 {
    margin-right: 165px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 143px;
  }

  .u-section-1 .u-image-39 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 33px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 7px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 33px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 33px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 33px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 897px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  font-family: TisaSansPro-Bold;
  margin: -30px -30px 0;
}

.u-section-2 .u-table-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2597px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-2 .u-table-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-family: TisaSansPro-Bold;
    margin-top: -2770px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2742px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 8px;
    margin-left: 27px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2819px;
    margin-right: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 3051px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2950px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-table-1 {
    width: 330px;
    margin-top: 181px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -2886px;
    margin-right: 45px;
    margin-bottom: 167px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 178px;
}

.u-section-3 .u-text-1 {
  font-family: TisaSansPro-Bold;
  margin: 38px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 230px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 89px;
    margin-right: 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-3 .u-text-1 {
    font-family: TisaSansPro-BoldItalic;
    margin-top: -67px;
    margin-right: 0;
    margin-left: 19px;
  }
}@font-face {
  font-family: 'TisaSansPro-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Bold.ttf);
}@font-face {
  font-family: 'TisaSansPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Regular.ttf);
}@font-face {
  font-family: 'TisaSansPro-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TisaSansPro-Light.ttf);
}